<section>

<div ng-show="currentUser" ng-controller="MyEmpresaController" class="row ">
 <div ng-show="currentUser.Empresa" class=" col-xs-12" >
      <div class="table table-bordered panel panel-default text-center">
        <div class="panel-heading" > 
            <h3>Datos de Empresa:{{Empresa.nombre}}</h3></div>


  <ul ng-show="currentUser">
	  
	  <li>cif:  {{ Empresa.cif }}</li>
	  <li>Direccion :  {{ Empresa.direccion}}</li>	
	  <li>Telefono:  {{ Empresa.telefono }}</li>
	  <li>Email :  {{ Empresa.email}}</li>
	  <li>Localidad: {{ Empresa.localidad}}</li>
	  <li>Provincia :  {{ Empresa.provincia }}</li>
	  <li>Url:  {{ Empresa.url }}</li>
	  <li>Fax:  {{ Empresa.fax }} </li>	
	  <li>NºEmpleados: {{ Empresa.n_empleados }}</li>
	  <li>Sector:   {{ Empresa.idsector }}</li>	
  </ul>
  </div>
  <div ng-show="currentUser">
  <a href="#"  class="btn btn-success" ui-sref-active="active">Editar</a></div>
  </div>


</div>
<br>
<br>
<div class="row ">
 <div class=" col-xs-12" >
      <div class="table table-bordered panel panel-default text-center">
        <div class="panel-heading" > 
            <h3>Datos de Demandante:{{Demandante.nombre}}</h3></div>


  <ul ng-show="currentUser">
	  
	  <li ng-hide="currentUser.Empresa">Apellidos:  {{ Demandante.apellidos }}</li>
	  <li ng-hide="currentUser.Empresa">Dni :  {{ Demandante.dni }}</li>	
	  <li>Telefono:  {{ Demandante.telefono }}</li>
	  <li>Email :  {{ Demandante.email}}</li>
	  <li ng-hide="currentUser.Empresa">Fecha de Nacimiento: {{ Demandante.fecha_nac |date}}</li>
	  <li ng-hide="currentUser.Empresa">Sexo :  {{ Demandante.sexo }}</li>
	  <li ng-hide="currentUser.Empresa">Titulaciones:  {{ Demandante.titulaciones }}</li>
	  <li ng-hide="currentUser.Empresa">Experiencia :  {{ Demandante.experiencia }} </li>	
	  <li ng-hide="currentUser.Empresa">Idiomas: {{ Demandante.idiomas }}</li>
	  <li ng-hide="currentUser.Empresa">Conducir:   {{ Demandante.conducir }}</li>	
	  <li ng-hide="currentUser.Empresa">Camion: {{ Demandante.camion }}</li>
	  <li ng-hide="currentUser.Empresa">Eres Discapacitado: {{ Demandante.discapacitado}}</li>
  </ul>
  </div>
  <div ng-show="currentUser">
  <a href="#"  class="btn btn-success" ui-sref-active="active">Editar</a></div>
  </div>


</div>

</section>
