<section>
<div ng-show="currentUser.admin" class="row ">
 <div ng-show="currentUser.Empresa" class=" col-xs-12" >
      <div class="table table-bordered panel panel-default text-center">
        <div class="panel-heading" > 
            <h3>Datos de Empresa:{{Empresa.nombre}}</h3></div>


  <ul ng-show="currentUser">
	  
	  <li>cif:  {{ Empresa.cif }}</li>
	  <li>Direccion :  {{ Empresa.direccion}}</li>	
	  <li>Telefono:  {{ Empresa.telefono }}</li>
	  <li>Email :  {{ Empresa.email}}</li>
	  <li>Localidad: {{ Empresa.localidad}}</li>
	  <li>Provincia :  {{ Empresa.provincia }}</li>
	  <li>Url:  {{ Empresa.url }}</li>
	  <li>Fax:  {{ Empresa.fax }} </li>	
	  <li>NºEmpleados: {{ Empresa.n_empleados }}</li>
	  <li>Sector:   {{ Empresa.idsector }}</li>	
  </ul>

  </div>
 
</div>

</div>
</section>