<section>
 <div class="col-sm-4">
      <div class="panel panel-primary">
        
 
  <div>    
  <li class="list-group-item" ng-repeat="oferta in Ofertas">
<ol>   <div class="panel-heading"><h3>Puesto:{{oferta.puesto}}</h3></div>


  <ul>
	  
	  <li>vacantes:  {{ oferta.vacantes }}</li>	
	  <li>Descripcion:  {{ oferta.descripcion }}</li>
	  <li>Con experiencia :  {{ oferta.experiencia }}</li>
	  <li>En la Provincia :  {{ oferta.provincia }}</li>
	  <li>En la Localidad :  {{ oferta.localidad }}</li>	
	  <li>Con las siguientes condiciones: {{ oferta.condiciones }}</li>	
	  <li>Duracion de la Oferta en Meses: {{ oferta.duracion_meses }}</li>
	  <li>Oferta valida hasta: {{ oferta.fecha_caducidad |date}}</li>
  </ul>
  </li>
  <li ng-show="currentUser"><a ui-sref="inscribirse" ui-sref-active="active">Inscribirse</a>
  </div>
    </ol>
</div>

</div>

</section>
