<section>
 <div class="container">
        <div class="card card-container">
           
            <img id="profile-img" class="profile-img-card" src="../images/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
 <form action="/api/Usuarios/reset_password?access_token=<%= accessToken %>" method="post">
    <fieldset>
      <legend>Password reset form</legend>
      <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="password" ng-model="user.password" placeholder="Contraseña">
        <p class="alert alert-danger" ng-show="form.passwords.password.$error.required && submitted">
            Password es Requerida</p>
      </div>
     
      <div class="actions">
        <label></label>
         <input type="submit" value="Reset password">
      </div>
    </form>
     </div><!-- /card-container -->
    </div><!-- /container -->

</section>