<section>
<div class="container">
        <div class="card card-container">
           
            <img id="profile-img" class="profile-img-card" src="../images/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
  <form ng-submit="resetear()">
    <fieldset>
      <legend>Olvido mi Contraseña</legend>
      <div class="form-group">
        <label>Email</label>
        <input class="form-control" type="email" ng-model="user.email" placeholder="Email">
        <p class="alert alert-danger" ng-show="form.email.$error.required && submitted">
            Password es Requerida</p>
      </div>
      
   
    <div class="actions">
        <label></label>
          <button class="btn btn-success">Resetar Contraseña</button>
      </div>

    </form>
     </div><!-- /card-container -->
    </div><!-- /container -->

</section>