<section>
 <div class="container">
        <div class="card card-container">
           
            <img id="profile-img" class="profile-img-card" src="../images/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
 <form ng-submit="resetear()" >
    <fieldset>
      <legend>Cambiar Contraseña</legend>
      <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="password" ng-model="user.newPassword" placeholder="Contraseña" required maxlength="15">
        <p class="alert alert-danger" ng-show="form.newPassword.$error.required && submitted">
            Password es Requerida</p>
      </div>
     
      <div class="actions">
        <label></label>
          <button class="btn btn-success">Cambiar Contraseña</button>
      </div>

    </form>
     </div><!-- /card-container -->
    </div><!-- /container -->

</section>